@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Padauk:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

table,
tr,
td,
thead,
th {
  border: none !important;
}

.mantine-Input-input::placeholder {
  color: #484848;
  font-size: 20px;
}
.mantine-Modal-close:hover {
  background-color: #212121; /* Set your desired hover background color */
}

.truncate-text {
  max-width: 300px; /* Adjust the width as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


